<!DOCTYPE html>
<html>
  <head>
  <%= render 'layouts/head' %>
  <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type %>"><%= message %></div>
    <% end %>
      <%= yield %>
    <%= render 'layouts/footer' %>
    <%= show_development_debugger %>
    </div>
  </body>
</html>
